@import "../../layout/theme.scss";
.post-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
  border-bottom: 0.1em solid $md-tertiary-color;

  > div {
    margin-right: 20px;
  }

  .category-link {
    margin-right: 20px;
  }
}
