.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .portfolio-text {
    max-width: 640px;
    margin: 20px 0 !important;

    @media (max-width: 360px - 1px) {
      margin: 5px 0 !important;
    }
  }
}
