.postPreview {
    .post-preview-cover {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        padding: 0 !important;
    }
}
