.main-content {
  display: flex;
  flex-direction: column;

  .main-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;

    .main-content {
      flex: 1;
    }
  }
}

nav > header > h2:first-of-type {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}
