@import '../../layouts/theme.scss';

.talk-card {
  .location-and-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
}
