.contact-me {
    img {
        border-radius: 5px;

        @media (min-width: 768px) {
            margin-left: 1em;
        }

        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
    }
}
