.contactMe-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contactMe-paper--white {
    background-color: #ffffff;
  }

  .contactMe-img {
    border-radius: 5px;
    margin-left: 1em;

    @media (max-width: 360px - 1px) {
      padding: 20px;
    }
  }

  .contactMe-text {
    max-width: 640px;
    margin: 20px 0 !important;

    @media (max-width: 360px - 1px) {
      margin: 5px 0 !important;
    }
  }
}
