.post-tag {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .post-preview-tags {
        margin: 5px 2px 0;
        cursor: pointer;
    }
}
