@import '~react-md/src/scss/react-md';

$md-light-grey: $md-grey-100;
$md-dark-grey: $md-grey-700;
$md-primary-color: $md-red-500;
$md-secondary-color: $md-indigo-a-700;
$md-tertiary-color: $md-grey-300;
$md-chip-dark-theme-color: white;
$md-slider-warn-md: false;

@include react-md-theme-everything(
  $md-primary-color,
  $md-secondary-color,
  false,
  'dark-theme'// class name to wrap dark-theme styles in
);
@include react-md-everything;

h2,
h3,
h4,
.md-display-3,
.md-display-4 {
  font-weight: bold;
  white-space: normal;
}

.dark-theme {
  li {
    color: white;
  }
  a:link {
    color: $md-indigo-100;
    text-decoration: none;
  }

  .post-body {
    color: white;
  }
}

a:visited {
  color: $md-indigo-a-100;
}

.drawer-nav-nested-list-item > li > a {
  padding-left: 3em !important;
}
